.polaroid {
    height: 500px;
    width: 400px;
}
.record {
    height:400px;
    width:400px;
}

.first{
   
}






.container
{
    width: 100%;
    margin-top: 10%;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.container h1 


