body {
    background-image: url("./img/drips.png");
    background-size: cover;
}

.polaroid {
    height: 500px;
    width: 400px;
}
.record {
    height:400px;
    width:400px;
}

.row
{
    margin-top: 30px;
}

img
{
    width: 100%;
}

.color img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
}
    
.color img:hover{
    filter: grayscale(0%);
    filter: rgb(180, 166, 178);
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}    

.firstcol{
    height: 250px;
    width: 300px;
}

.is-dasktop #course_grid button.term{
    flex-basis: 7.5%;
    color: transpatent !imporant;
    background-color: no-repeat center center;
}

.about{
    background-image: url('backgroundforform');
}

